@import url("https://fonts.googleapis.com/css?family=Nunito");
html {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: #094069;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

body {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

a {
  color: #096396;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

ol, ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
@media (min-width: 640px) {
  ol, ul {
    font-size: 14px;
  }
}
@media (min-width: 960px) {
  ol, ul {
    font-size: 16px;
  }
}

h1, h2, h3 {
  margin: 0;
  color: #096396;
  font-family: "Nunito", sans-serif;
  line-height: 1.1;
}

h2 {
  font-size: 18px;
  margin-bottom: 1em;
}
@media (min-width: 640px) {
  h2 {
    font-size: 21px;
  }
}
@media (min-width: 960px) {
  h2 {
    font-size: 32px;
  }
}

p {
  margin: 0 0 1em;
  font-size: 12px;
  line-height: 1.4;
}
@media (min-width: 640px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 960px) {
  p {
    font-size: 16px;
  }
}
p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  border-bottom: 1px dashed #4bceb4;
  margin: 10px auto;
}

.page {
  border: none;
  width: 100%;
  margin: 60px 0 0;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 640px) {
  .page {
    margin-top: 90px;
  }
}

div[role=main] {
  width: 100%;
  padding: 0;
  margin: 0;
}

#main-content .title-header {
  width: 100%;
  height: 200px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-color: #00add2;
  image-rendering: -webkit-optimize-contrast;
}
#main-content .title-header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #094069;
  opacity: 0.2;
}
@media (min-width: 640px) {
  #main-content .title-header {
    height: 300px;
  }
}
@media (min-width: 960px) {
  #main-content .title-header {
    height: 400px;
  }
}
#main-content .title-header .wrapper {
  max-width: 1240px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 640px) {
  #main-content .title-header .wrapper {
    height: 300px;
  }
}
@media (min-width: 960px) {
  #main-content .title-header .wrapper {
    height: 400px;
  }
}
#main-content .title-header h1 {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: white;
  font-size: 42px;
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: -0.02em;
}
@media (min-width: 640px) {
  #main-content .title-header h1 {
    font-size: 80px;
    left: -5px;
    bottom: 10px;
  }
}
@media (min-width: 960px) {
  #main-content .title-header h1 {
    bottom: 20px;
    font-size: 110px;
    left: -10px;
  }
}
#main-content .content {
  max-width: 1240px;
  margin: 20px auto;
  min-height: 100px;
}
@media (min-width: 960px) {
  #main-content .content {
    min-height: 150px;
  }
}
@media (min-width: 960px) {
  #main-content .content {
    margin-top: 35px;
    min-height: 200px;
  }
}

header[role=banner] {
  width: 100%;
  padding: 10px;
  margin: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border: none;
  -webkit-transition: padding ease-in-out 0.15s;
  transition: padding ease-in-out 0.15s;
}
@media (min-width: 640px) {
  header[role=banner] {
    padding: 20px;
  }
}
header[role=banner] .header-region div {
  width: auto;
  float: none;
}
header[role=banner] .siteinfo a {
  display: table;
}
header[role=banner] .siteinfo img {
  display: block;
  width: 35px;
  height: 40px;
}
@media (min-width: 640px) {
  header[role=banner] .siteinfo img {
    width: 43px;
    height: 50px;
  }
}
header[role=banner] .site-name-slogan {
  display: none;
}
header[role=banner].scrolled-down {
  padding: 5px 10px;
}
@media (min-width: 640px) {
  header[role=banner].scrolled-down {
    padding: 10px 20px;
  }
}
header[role=banner].scrolled-down .siteinfo img {
  width: 26px;
  height: 30px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
@media (min-width: 640px) {
  header[role=banner].scrolled-down .siteinfo img {
    width: 33px;
    height: 40px;
  }
}
header[role=banner].scrolled-down #block-system-main-menu {
  top: 10px;
}
@media (min-width: 640px) {
  header[role=banner].scrolled-down #block-system-main-menu {
    top: 17px;
    font-size: 90%;
  }
}
header[role=banner].scrolled-down #block-system-main-menu ul:not(.responsified) li.hover ul {
  top: 13px;
}
header[role=banner].scrolled-down .language-switch {
  top: 10px;
}
@media (min-width: 640px) {
  header[role=banner].scrolled-down .language-switch {
    top: 19px;
    font-size: 75%;
  }
}
header[role=banner].scrolled-down .responsive-menus.responsified span.toggler {
  top: 4px;
}
@media (min-width: 640px) {
  header[role=banner].scrolled-down .responsive-menus.responsified span.toggler {
    top: 11px;
  }
}

footer[role=contentinfo] {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: 0;
  background-color: #094069;
  color: white;
  padding: 20px 5px;
  text-align: center;
  font-size: 12px;
}
@media (min-width: 960px) {
  footer[role=contentinfo] {
    padding: 20px;
    text-align: left;
    font-size: 16px;
  }
}
footer[role=contentinfo] .footer-menu li {
  margin: 0;
}
footer[role=contentinfo] .footer-menu li:not(:last-child) {
  margin-right: 1.2em;
}
footer[role=contentinfo] .footer-menu li a {
  color: #d8d8d8;
  font-weight: normal;
  text-decoration: none;
}
footer[role=contentinfo] .footer-menu li a:hover {
  text-decoration: underline;
}

.author-date {
  font-size: 80%;
  color: #888;
}

#main-content .block .wrapper {
  max-width: 1240px;
  padding: 20px 10px;
  margin: 0 auto;
  font-size: 12px;
}
@media (min-width: 640px) {
  #main-content .block .wrapper {
    padding: 40px;
    font-size: 16px;
  }
}
#main-content .block h2 {
  text-align: center;
}
#main-content .block.front-main {
  background-color: #f1f1f1;
}
#main-content .block.front-main .wrapper {
  background: url(../images/background_women_drinking_water.jpg) bottom right no-repeat;
  image-rendering: -webkit-optimize-contrast;
  background-size: 320px auto;
  padding-bottom: 320px;
  padding-top: 20px;
}
@media (min-width: 640px) {
  #main-content .block.front-main .wrapper {
    padding-bottom: 15%;
    background-size: 40% auto;
  }
}
@media (min-width: 960px) {
  #main-content .block.front-main .wrapper {
    padding-top: 80px;
    padding-bottom: 200px;
    background-size: contain;
  }
}
#main-content .block.front-main h2 {
  margin-bottom: 0.5em;
  text-align: left;
}
@media (min-width: 640px) {
  #main-content .block.front-main h2 {
    max-width: 60%;
  }
}
@media (min-width: 960px) {
  #main-content .block.front-main h2 {
    max-width: 600px;
  }
}
@media (min-width: 640px) {
  #main-content .block.front-main p {
    max-width: 60%;
  }
}
@media (min-width: 960px) {
  #main-content .block.front-main p {
    max-width: 550px;
  }
}
#main-content #block-views-success-stories-block {
  background: #096396;
  display: table;
  position: relative;
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block {
    padding: 0px;
  }
  #main-content #block-views-success-stories-block .wrapper {
    padding-top: 70px;
    padding-bottom: 75px;
  }
  #main-content #block-views-success-stories-block .wrapper .slick-list {
    max-height: 256px;
  }
}
#main-content #block-views-success-stories-block h2 {
  display: none;
}
#main-content #block-views-success-stories-block .content {
  margin: 0 auto;
  color: #d8d8d8;
}
#main-content #block-views-success-stories-block .item {
  margin-bottom: 20px;
  padding-left: 65px;
  min-height: 50px;
  background-position: left top;
  background-size: 50px;
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block .item {
    margin: 0;
    width: calc(100% / 3);
    padding: 100px 10px 0;
    background-position: top center;
    background-size: 80px;
    box-sizing: border-box;
  }
}
#main-content #block-views-success-stories-block .item a {
  color: white;
}
#main-content #block-views-success-stories-block .item:nth-child(3n+1) {
  background-image: url("../images/icons/bulb.png");
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block .item:nth-child(3n+1) {
    padding-left: 10px;
  }
}
#main-content #block-views-success-stories-block .item:nth-child(3n + 2) {
  background-image: url("../images/icons/glass.png");
}
#main-content #block-views-success-stories-block .item:nth-child(3n + 3) {
  background-image: url("../images/icons/orbital.png");
  margin: 0;
  padding-right: 10px;
}
#main-content #block-views-success-stories-block .item h3 {
  color: white;
  font-weight: normal;
  margin-bottom: 0.25em;
}
#main-content #block-views-success-stories-block .slick-prev, #main-content #block-views-success-stories-block .slick-next {
  display: block;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block .slick-prev, #main-content #block-views-success-stories-block .slick-next {
    width: 80px;
    height: 80px;
  }
}
#main-content #block-views-success-stories-block .slick-prev:before, #main-content #block-views-success-stories-block .slick-next:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-top: 3px solid #FFFFFF;
}
#main-content #block-views-success-stories-block .slick-prev {
  left: -30px;
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block .slick-prev {
    left: -50px;
  }
}
@media (min-width: 1280px) {
  #main-content #block-views-success-stories-block .slick-prev {
    left: -80px;
  }
}
#main-content #block-views-success-stories-block .slick-prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 3px solid #FFFFFF;
}
#main-content #block-views-success-stories-block .slick-next {
  right: -30px;
}
@media (min-width: 640px) {
  #main-content #block-views-success-stories-block .slick-next {
    right: -50px;
  }
}
@media (min-width: 1280px) {
  #main-content #block-views-success-stories-block .slick-next {
    right: -80px;
  }
}
#main-content #block-views-success-stories-block .slick-next:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-right: 3px solid #FFFFFF;
}
#main-content #block-views-country-profiles-block {
  background-color: #f1f1f1;
  overflow: auto;
}
#main-content #block-views-country-profiles-block h2 {
  text-align: center;
  margin: 0 auto 2em;
}
@media (min-width: 640px) {
  #main-content #block-views-country-profiles-block h2 {
    width: 60%;
  }
}
@media (min-width: 960px) {
  #main-content #block-views-country-profiles-block h2 {
    width: auto;
    padding-right: 50px;
  }
}
#main-content #block-views-country-profiles-block .content,
#main-content #block-views-country-profiles-block .view-footer {
  text-align: center;
}
@media (min-width: 640px) {
  #main-content #block-views-country-profiles-block .content,
  #main-content #block-views-country-profiles-block .view-footer {
    text-align: left;
  }
}
#main-content #block-views-country-profiles-block .view-footer a {
  background: url(../images/icon-partnership.png) no-repeat left center;
  background-size: contain;
  padding: 10px 0px 10px 50px;
}
@media (min-width: 960px) {
  #main-content #block-views-country-profiles-block .wrapper {
    display: table;
    width: 100%;
    padding-bottom: 60px;
  }
}
@media (min-width: 960px) {
  #main-content #block-views-country-profiles-block .wrapper h2,
  #main-content #block-views-country-profiles-block .wrapper .content {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
}
#main-content #block-views-country-profiles-block .wrapper .content {
  margin-bottom: 2.5em;
}
@media (min-width: 640px) {
  #main-content #block-views-country-profiles-block .wrapper .content {
    width: 60%;
    min-width: 450px;
  }
}
@media (min-width: 960px) {
  #main-content #block-views-country-profiles-block .wrapper .content {
    margin-top: 0;
    padding-top: 12px;
    width: 100%;
    max-width: 1280px;
  }
}
#main-content #block-views-country-profiles-block .wrapper .content ul {
  margin: 0 0 2em;
  overflow: auto;
}
#main-content #block-views-country-profiles-block .wrapper .content ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1em;
}
@media (min-width: 640px) {
  #main-content #block-views-country-profiles-block .wrapper .content ul li {
    float: left;
    white-space: nowrap;
    width: 50%;
  }
}
@media (min-width: 960px) {
  #main-content #block-views-country-profiles-block .wrapper .content ul li {
    width: 33.33333%;
  }
}
@media (min-width: 1160px) {
  #main-content #block-views-country-profiles-block .wrapper .content ul li {
    width: 25%;
  }
}
#main-content #block-views-country-profiles-block .wrapper .content ul li a {
  display: block;
}
#main-content #block-views-country-profiles-block .view-footer {
  clear: left;
  padding-top: 40px;
}
#main-content #block-views-country-profiles-block .content a,
#main-content #block-views-country-profiles-block .view-footer p {
  font-weight: normal;
  font-size: 16px;
  color: #094069;
}
@media (min-width: 640px) {
  #main-content #block-views-country-profiles-block .content a,
  #main-content #block-views-country-profiles-block .view-footer p {
    font-size: 21px;
  }
}
#main-content .block.download-app {
  background-color: #26c726;
}
#main-content .block.download-app h2 {
  color: white;
  margin-bottom: 1em;
}
@media (min-width: 640px) {
  #main-content .block.download-app h2 {
    margin-bottom: 0.5em;
  }
}
#main-content .block.download-app .wrapper {
  background: url("../images/google_pixel_app_mockup.png") no-repeat;
  background-size: 290px auto;
  padding-bottom: 200px;
  background-position: center 215px;
  width: 90%;
  max-width: 360px;
}
@media (min-width: 640px) {
  #main-content .block.download-app .wrapper {
    background-position: 0 60px;
    width: 640px;
    max-width: none;
    padding: 60px 0 0;
  }
}
@media (min-width: 640px) {
  #main-content .block.download-app .wrapper h2,
  #main-content .block.download-app .wrapper .content {
    padding-left: 320px;
    text-align: left;
  }
}
#main-content .block.download-app .wrapper .content {
  margin: 0;
  padding-bottom: 40px;
  min-height: 175px;
}
@media (min-width: 960px) {
  #main-content .block.download-app .wrapper .content {
    padding-bottom: 60px;
  }
}
#main-content .block.collaborate {
  background: url(../images/background_world_map_white.png) center center no-repeat white;
  background-size: cover;
}
#main-content .block.collaborate .wrapper {
  padding-top: 75px;
  padding-bottom: 20px;
}
#main-content .block.collaborate .wrapper h2,
#main-content .block.collaborate .wrapper .content {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  #main-content .block.collaborate .wrapper h2,
  #main-content .block.collaborate .wrapper .content {
    width: 60%;
  }
}
@media (min-width: 960px) {
  #main-content .block.collaborate .wrapper h2,
  #main-content .block.collaborate .wrapper .content {
    width: 100%;
    max-width: 625px;
  }
}
#main-content .block.go-data-site {
  height: 280px;
  background-color: #95d7df;
  background-image: url(../images/background_surface_data.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 200%;
}
@media (min-width: 640px) {
  #main-content .block.go-data-site {
    height: 320px;
    background-size: auto 180%;
  }
}
@media (min-width: 960px) {
  #main-content .block.go-data-site {
    height: 400px;
  }
}
#main-content .block.go-data-site .wrapper {
  height: 100%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
#main-content .block.go-data-site .wrapper h2 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
#main-content .block.go-data-site .wrapper .content {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
}
#main-content .block.go-data-site .wrapper .content p {
  font-size: 1.25em;
}
#main-content .block.go-data-site .wrapper h2,
#main-content .block.go-data-site .wrapper div.content {
  text-align: left;
  margin-left: 35%;
}
@media (min-width: 640px) {
  #main-content .block.go-data-site .wrapper h2,
  #main-content .block.go-data-site .wrapper div.content {
    margin-left: 45%;
  }
}
@media (min-width: 960px) {
  #main-content .block.go-data-site .wrapper h2,
  #main-content .block.go-data-site .wrapper div.content {
    margin-left: 48%;
  }
}
#main-content .block.go-data-site a.text-button {
  background: white;
  color: #096396;
  font-weight: normal;
  margin-top: 1.5em;
  margin-left: 0;
  margin-bottom: 0;
}
@media (min-width: 960px) {
  #main-content .block.go-data-site a.text-button {
    margin-top: 2em;
  }
}

#block-system-main-menu,
.language-switch,
.responsive-menus.responsified span.toggler {
  -webkit-transition: top ease-in-out 0.15s;
  transition: top ease-in-out 0.15s;
}

#block-system-main-menu {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 16px;
}
#block-system-main-menu a {
  font-weight: normal;
}
#block-system-main-menu span.nolink {
  color: #096396;
  font-weight: normal;
}
#block-system-main-menu span.nolink:hover {
  border-bottom: solid #096396 2px;
}
@media (min-width: 960px) {
  #block-system-main-menu {
    white-space: nowrap;
  }
}
#block-system-main-menu ul:not(.responsified) {
  display: none;
}
@media (min-width: 960px) {
  #block-system-main-menu ul:not(.responsified) {
    display: block;
  }
}
#block-system-main-menu ul:not(.responsified) li {
  padding: 0 10px;
  margin-left: 0;
  position: relative;
}
#block-system-main-menu ul:not(.responsified) li ul {
  display: none;
}
#block-system-main-menu ul:not(.responsified) li.hover ul {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  padding-top: 10px;
  font-size: 0.8em;
}

.responsive-menus.responsified span.toggler {
  padding: 0;
  display: block;
  background: white;
  color: black;
  border-radius: 0;
  box-shadow: none;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #096396;
}
@media (min-width: 640px) {
  .responsive-menus.responsified span.toggler {
    top: 23px;
  }
}
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple {
  background: #d8d8d8;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
@media (min-width: 640px) {
  .responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul {
    padding: 10px 0;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 640px) {
  .responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
  }
}
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li a,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li span.nolink {
  display: block;
  font-weight: normal;
  color: #094069;
  border: none;
  padding: 0.6em 1em;
  font-size: 13px;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li a,
  .responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li span.nolink {
    padding: 1em 1.5em;
    font-size: 16px;
  }
}
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li ul li {
  border: none;
}
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li ul li a {
  padding: 0 3em 0.7em;
  text-transform: none;
}
@media (min-width: 640px) {
  .responsive-menus.responsified.responsive-toggled .responsive-menus-simple > ul > li ul li a {
    padding-left: 2.25em;
  }
}
.responsive-menus.responsified.responsive-toggled.absolute {
  position: static;
}
.responsive-menus.responsified.responsive-toggled.absolute span.toggler {
  border: none;
}
.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  left: 0;
  top: 60px;
  -webkit-transition: top ease-in-out 0.15s;
  transition: top ease-in-out 0.15s;
}
@media (min-width: 640px) {
  .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    top: 90px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  }
}
.scrolled-down .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  top: 40px;
}
@media (min-width: 640px) {
  .scrolled-down .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    top: 60px;
  }
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1;
}
@media (min-width: 640px) {
  .language-switch {
    top: 35px;
    right: 20px;
    font-size: 16px;
  }
}
.language-switch ul {
  margin: 0;
  padding: 0;
}
.language-switch ul li {
  display: inline-block;
  margin: 0;
  padding-left: 5px;
}
.language-switch a {
  text-transform: uppercase;
}

#block-system-main-menu a,
.language-switch a {
  font-weight: normal;
}
#block-system-main-menu a:hover,
.language-switch a:hover {
  text-decoration: none;
  border-bottom: solid #096396 2px;
}
#block-system-main-menu a.active,
.language-switch a.active {
  color: #00add2;
  text-decoration: none;
  border: none;
}

nav#block-menu-menu-social-media {
  display: table;
  white-space: nowrap;
  margin: 2.5em auto 0.5em;
}
@media (min-width: 960px) {
  nav#block-menu-menu-social-media {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
  }
}
nav#block-menu-menu-social-media ul {
  display: inline-block;
}
nav#block-menu-menu-social-media ul li {
  display: inline-block;
}
nav#block-menu-menu-social-media ul li a {
  display: block;
  padding: 0;
  margin: 0;
  text-indent: -9999px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  text-decoration: none;
}
@media (min-width: 640px) {
  nav#block-menu-menu-social-media ul li a {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 960px) {
  nav#block-menu-menu-social-media ul li a {
    width: 40px;
    height: 40px;
    padding-bottom: 7px;
    border-bottom: solid transparent 2px;
  }
  nav#block-menu-menu-social-media ul li a:hover {
    border-bottom-color: white;
  }
}
nav#block-menu-menu-social-media ul li a#facebook {
  background-image: url(../images/social_media/facebook.png);
}
nav#block-menu-menu-social-media ul li a#twitter {
  background-image: url(../images/social_media/twitter.png);
}
nav#block-menu-menu-social-media ul li a#youtube {
  background-image: url(../images/social_media/youtube.png);
}
nav#block-menu-menu-social-media ul li a#linkedin {
  background-image: url(../images/social_media/linkedin.png);
}
nav#block-menu-menu-social-media ul li a#googleplus {
  background-image: url(../images/social_media/googleplus.png);
}
nav#block-menu-menu-social-media ul li a#wordpress {
  background-image: url(../images/social_media/wordpress.png);
}

#block-menu-menu-logins {
  margin-top: 1.5em;
}
#block-menu-menu-logins ul {
  text-align: center;
}
@media (min-width: 960px) {
  #block-menu-menu-logins ul {
    text-align: left;
  }
}
#block-menu-menu-logins li {
  display: inline-block;
}
#block-menu-menu-logins li#logout {
  display: none;
}
#block-menu-menu-logins li.backend {
  margin-right: 0.4em;
}
@media (min-width: 640px) {
  #block-menu-menu-logins li.backend {
    margin-right: 0.5em;
  }
}
#block-menu-menu-logins li.backend a {
  background: white;
  padding: 0.5em 0.5em 0.4em;
  color: #096396;
}
@media (min-width: 640px) {
  #block-menu-menu-logins li.backend a {
    padding: 0.7em 0.7em 0.6em;
  }
}
.logged-in #block-menu-menu-logins li#login {
  display: none;
}
.logged-in #block-menu-menu-logins li#logout {
  display: inline-block;
}

a.text-button,
input[type=submit] {
  display: table;
  padding: 1em;
  width: auto;
  margin: 2.5em auto;
  color: white;
  background-color: #096396;
  border: none;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
}
a.text-button:hover,
input[type=submit]:hover {
  text-decoration: underline;
}

.links-to-apps {
  margin-top: 25px;
  text-align: center;
}
@media (min-width: 640px) {
  .links-to-apps {
    text-align: left;
  }
}
.links-to-apps a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  height: 40px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: white;
  padding-left: 40px;
  padding-right: 15px;
  white-space: nowrap;
  line-height: 40px;
  color: #096396;
  cursor: pointer;
}
@media (min-width: 640px) {
  .links-to-apps a {
    margin: 0 20px 0 0;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
  }
}
.links-to-apps a.android {
  background-image: url("../images/social_media/android.png");
}
.links-to-apps a.ios {
  background-image: url("../images/social_media/apple.png");
}

ul.pager {
  display: table;
  padding: 50px 0;
  margin: 0 auto;
}
ul.pager li {
  height: auto;
  vertical-align: middle;
}
ul.pager li a {
  color: #096396;
  display: inline-block;
  padding: 3px;
}
ul.pager li.pager-elipsis {
  color: #d8d8d8;
}
ul.pager li.current {
  color: #d8d8d8;
}

body.node-type-page #main-content .content, body.node-type-documentation #main-content .content {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 10px;
  max-width: 550px;
}
@media (min-width: 640px) {
  body.node-type-page #main-content .content, body.node-type-documentation #main-content .content {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-page #main-content .content, body.node-type-documentation #main-content .content {
    max-width: 640px;
  }
}
body.node-type-page article.node-page, body.node-type-documentation article.node-page {
  margin: 0 auto;
}
body.node-type-page article.node-page h2, body.node-type-documentation article.node-page h2 {
  margin-bottom: 0.5em;
}
body.node-type-page article.node-page h2:not(:first-child), body.node-type-documentation article.node-page h2:not(:first-child) {
  margin-top: 1.75em;
}

#main-content .download-app-page .title-header {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #26c726;
}
#main-content .download-app-page .links-to-apps {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
}
#main-content .download-app-page .links-to-apps a {
  background-color: #096396;
  color: white;
}
#main-content .download-app-page .links-to-apps a.android {
  background-image: url("../images/social_media/android-alpha.png");
}
#main-content .corporate-info-page .title-header {
  background-image: url("../images/background_generic_corporate.jpg");
}

body.page-country-profiles #main-content {
  background-color: #f1f1f1;
}
body.page-country-profiles #main-content .title-header {
  background-color: #00add2;
  background-image: url("../images/countries_headers/countries_generic.jpg");
}
body.page-country-profiles #main-content .countries-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
body.page-country-profiles #main-content .countries-grid article {
  background: white;
  box-sizing: border-box;
  min-width: 300px;
  max-width: calc(33% - 20px);
  padding: 15px;
  margin: 10px;
}
body.page-country-profiles #main-content .countries-grid article h2 {
  margin-bottom: 0.5em;
}
body.page-country-profiles #main-content .countries-grid article .content {
  margin: 0;
  min-height: 150px;
}

body.page-reports #main-content .title-header {
  background-image: url(../images/background_generic_corporate.jpg);
}
@media (min-width: 640px) {
  body.page-reports #main-content .content {
    margin-top: 50px;
    width: calc(100% - 40px);
    max-width: 800px;
  }
}
@media (min-width: 1280px) {
  body.page-reports #main-content .content {
    width: 100%;
  }
}
body.page-reports #main-content .content > div {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}
@media (min-width: 640px) {
  body.page-reports #main-content .content > div h3,
  body.page-reports #main-content .content > div ul {
    display: table-cell;
    vertical-align: top;
  }
}
body.page-reports #main-content .content > div h3 {
  color: black;
  font-size: 1.8em;
}
@media (min-width: 640px) {
  body.page-reports #main-content .content > div h3 {
    font-size: 2.2em;
    text-align: right;
    padding-right: 30px;
    width: 35%;
  }
}
body.page-reports #main-content .content > div ul {
  margin: 20px 0 0 3px;
}
@media (min-width: 640px) {
  body.page-reports #main-content .content > div ul {
    margin: 0;
    padding-top: 5px;
  }
}
body.page-reports #main-content .content > div ul li div:not(:last-child) {
  margin-bottom: 0.75em;
}

body.page-blog #main-content .content {
  max-width: 960px;
}
body.page-blog #main-content .content .blog-item {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  background: #00add2 center center no-repeat;
  background-size: cover;
  color: white;
}
@media (min-width: 640px) {
  body.page-blog #main-content .content .blog-item {
    height: 305px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
  }
  body.page-blog #main-content .content .blog-item:nth-child(even) {
    margin-right: 0;
  }
}
body.page-blog #main-content .content .blog-item .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 960px) {
  body.page-blog #main-content .content .blog-item .text-wrapper {
    padding: 20px;
  }
}
body.page-blog #main-content .content .blog-item .text-wrapper h2 {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;
}
@media (min-width: 640px) {
  body.page-blog #main-content .content .blog-item .text-wrapper h2 {
    font-size: 18px;
  }
}
@media (min-width: 960px) {
  body.page-blog #main-content .content .blog-item .text-wrapper h2 {
    font-size: 21px;
  }
}
body.page-blog #main-content .content .blog-item .text-wrapper h2 span {
  display: inline;
  color: white;
}
body.page-blog #main-content .content .blog-item .text-wrapper .date {
  font-weight: lighter;
  font-size: 10px;
  color: #f1f1f1;
}

body.node-type-blog-post .field-extra-photos {
  width: 100%;
}

body.node-type-complex-layout-page #main-content {
  margin-bottom: 100px;
}
body.node-type-complex-layout-page #main-content .field-subtitle {
  width: 100%;
  margin: 0;
  padding: 0.5em 10px;
  background-color: #096396;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .field-subtitle {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .field-subtitle {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
  }
}
body.node-type-complex-layout-page #main-content .field-subtitle .wrapper {
  max-width: 800px;
  margin: 0 auto;
}
body.node-type-complex-layout-page #main-content .content {
  max-width: none;
  min-height: 0;
  margin-top: 0;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .entity-paragraphs-item {
  margin: 30px auto 0;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .entity-paragraphs-item {
    margin-top: 40px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .entity-paragraphs-item {
    margin-top: 50px;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .entity-paragraphs-item .content {
  margin: 0;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-main-text {
  margin-top: 10px;
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-main-text {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-main-text {
    padding: 0;
  }
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-main-text {
    margin-top: 2em;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid {
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid {
    padding: 0;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid {
  width: calc(50% - 5px);
  font-size: 10px;
  line-height: 1.4;
  position: relative;
  margin: 0 10px 10px 0;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid:nth-child(even) {
  margin-right: 0;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid {
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
    font-size: 16px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid {
    width: calc( 100% / 3 - (20px / 3 * 2));
  }
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid:nth-child(even) {
    margin-right: 20px;
  }
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid:nth-child(3n) {
    margin-right: 0;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid > img {
  width: 100%;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-caption {
  margin: 0;
  color: #096396;
  font-weight: bold;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-texto {
  margin-bottom: 14px;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-top: 14px;
  margin-top: -14px;
  height: 0;
  overflow: hidden;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text {
    color: transparent;
    background-color: rgba(255, 255, 255, 0);
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: '+';
  color: #096396;
  font-weight: bold;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 0.15s;
  transition: -webkit-transform ease-in-out 0.15s;
  transition: transform ease-in-out 0.15s;
  transition: transform ease-in-out 0.15s, -webkit-transform ease-in-out 0.15s;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text:after {
  border: none;
  height: 0;
  width: 0;
  content: ' ';
  opacity: 0;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  background: white;
  color: black;
  padding: 10px;
  width: 100%;
  height: auto;
  z-index: 1;
  margin: 0;
  font-weight: normal;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active:before {
  display: none;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active {
    padding: 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active {
    right: calc(-50% + 7px);
    bottom: 28px;
    top: auto;
  }
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active:before {
    display: block;
    top: auto;
    bottom: -28px;
    right: calc(50% - 7px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-grid .field-image-grid .field-extra-text.active:after {
    position: absolute;
    bottom: -14px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid white;
    font-size: 0;
    line-height: 0;
    opacity: 1;
    -webkit-transition: opacity ease-in-out 0.15s;
    transition: opacity ease-in-out 0.15s;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-outstanding-text {
  padding: 0.5em 10px;
  background-color: #096396;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.01em;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-outstanding-text {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-size: 1.2rem;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-outstanding-text {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-outstanding-text .field-texto {
  max-width: 800px;
  margin: 0 auto;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section {
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section {
    padding: 0;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section h2 {
  text-align: center;
  margin: 0 0 0.75em;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section .field-texto {
  line-height: 1.4;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-text-section .field-texto li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-bottom: 0.25em;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image h2,
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section h2 {
  text-align: center;
  margin: 0 0 1em;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image h2,
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section h2 {
    margin-bottom: 1.2em;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image img,
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section img {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section {
  background: white;
  padding: 2em 10px;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section {
    padding: 3em 0 4em;
  }
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-section img {
  max-width: 800px;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-stripe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-stripe img {
  display: block;
  width: calc(100% / 3);
  margin: 0;
}
@media (min-width: 640px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-stripe img {
    width: 25%;
  }
}
@media (min-width: 960px) {
  body.node-type-complex-layout-page #main-content .content .paragraphs-items .paragraphs-item-image-stripe img {
    width: calc(100% / 6);
  }
}

.node-type-country-profile {
  background-color: #f1f1f1;
}
.node-type-country-profile #main-content {
  padding-bottom: 50px;
}
.node-type-country-profile #main-content .node-country-profile {
  background-color: #f1f1f1;
}
.node-type-country-profile #main-content .node-country-profile .title-header {
  background-size: contain;
  background-color: #5a92a9;
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content {
    width: calc(100% - 40px);
  }
}
@media (min-width: 1280px) {
  .node-type-country-profile #main-content .node-country-profile .content {
    width: 100%;
  }
}
.node-type-country-profile #main-content .node-country-profile .content h2 {
  font-size: 18px;
  margin-bottom: 0.5em;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content h2 {
    font-size: 21px;
  }
}
@media (min-width: 960px) {
  .node-type-country-profile #main-content .node-country-profile .content h2 {
    font-size: 24px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet {
  position: relative;
  margin: 0 auto 20px;
  display: table;
  clear: right;
  font-size: 10px;
  line-height: 2;
  width: calc(100% - 20px);
  max-width: 320px;
  background-color: white;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet {
    float: right;
    width: 100%;
    margin: 0 0 20px 20px;
    font-size: 12px;
  }
}
@media (min-width: 960px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet {
    max-width: 360px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet h2 {
  background: #096396;
  color: white;
  font-size: 10px;
  padding: 1px 0px 1px 5px;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet h2 {
    font-size: 12px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet h3,
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet div {
  box-sizing: border-box;
  display: block;
  padding: 2px 5px 1px;
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet h3 {
  width: 135px;
  margin: 0;
  float: left;
  clear: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 2;
  font-size: 10px;
  color: #096396;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet h3 {
    font-size: 12px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet div {
  margin: 0 0 0 135px;
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet div::after {
  content: ' ';
  display: block;
  margin-left: -140px;
  margin-right: -5px;
  height: 0;
  border-bottom: solid #d8d8d8 1px;
  clear: left;
}
.node-type-country-profile #main-content .node-country-profile .content .group-country-datasheet div:last-child::after {
  border: none;
}
.node-type-country-profile #main-content .node-country-profile .content .field-body {
  clear: both;
  margin-bottom: 50px;
  padding: 0 10px;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .field-body {
    padding: 0;
    clear: none;
  }
}
@media (min-width: 960px) {
  .node-type-country-profile #main-content .node-country-profile .content .field-body {
    width: calc(100% - 400px);
  }
}
.node-type-country-profile #main-content .node-country-profile .content iframe {
  display: block;
  margin: 40px 10px;
  border: none;
  width: 100%;
  max-width: calc(100vw - 20px);
  height: 300px;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content iframe {
    margin: 50px auto;
    height: 750px;
    max-width: calc(100vw - 40px);
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports {
  box-sizing: border-box;
  background: url(../images/icons/chartset.png) 19px 17px no-repeat #00a099;
  background-size: auto 38px;
  padding: 20px 20px 20px 140px;
  margin: 0 0 30px;
  font-size: 12px;
  color: white;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports {
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 90px 20px 20px;
    float: right;
    text-align: center;
    background-size: auto 50px;
    background-position: center 20px;
    width: 320px;
    font-size: 16px;
  }
}
@media (min-width: 960px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports {
    float: left;
    width: auto;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links p,
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links p {
  cursor: pointer;
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports a {
  color: white;
  font-weight: normal;
  display: table;
  white-space: nowrap;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports a {
    margin: 0 auto;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports a.button {
  margin-bottom: 10px;
  font-weight: bold;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports a.button {
    margin-bottom: 15px;
    background: white;
    padding: 10px 15px;
    color: #096396;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links ul,
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links ul {
  display: none;
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links h2,
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links h2 {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: table;
  margin-bottom: 10px;
  white-space: nowrap;
  cursor: pointer;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links h2,
  .node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links h2 {
    margin: 0 auto 15px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links h2:hover,
.node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links h2:hover {
  text-decoration: underline;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-report-links h2,
  .node-type-country-profile #main-content .node-country-profile .content .group-reports .field-com-download-links h2 {
    font-size: 16px;
  }
}
.node-type-country-profile #main-content .node-country-profile .content footer .field-colaboradores {
  padding: 0 10px;
}
@media (min-width: 640px) {
  .node-type-country-profile #main-content .node-country-profile .content footer .field-colaboradores {
    padding: 0;
  }
}
@media (min-width: 960px) {
  .node-type-country-profile #main-content .node-country-profile .content footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .node-type-country-profile #main-content .node-country-profile .content footer .group-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
  }
  .node-type-country-profile #main-content .node-country-profile .content footer .group-reports {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    float: none;
  }
  .node-type-country-profile #main-content .node-country-profile .content footer .field-colaboradores {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
}

body.node-type-blog-post #main-content .title-header .wrapper,
body.node-type-blog-post #main-content .content {
  max-width: 960px;
}
body.node-type-blog-post #main-content .title-header::before {
  background-color: black;
  opacity: 0.3;
}
body.node-type-blog-post #main-content .title-header h1 {
  font-size: 24px;
  line-height: 1.1;
  left: 0;
  bottom: 5px;
}
@media (min-width: 640px) {
  body.node-type-blog-post #main-content .title-header h1 {
    font-size: 48px;
    bottom: 10px;
    left: -3px;
  }
}
@media (min-width: 960px) {
  body.node-type-blog-post #main-content .title-header h1 {
    font-size: 60px;
    left: -5px;
  }
}
body.node-type-blog-post #main-content .content .field-body img {
  display: block;
  margin: 10px auto;
}

.node-type-success-story {
  background-color: #f1f1f1;
}
.node-type-success-story #main-content .node-success-story {
  margin: 0 auto;
  background-color: #f1f1f1;
}
.node-type-success-story #main-content .node-success-story .title-header {
  background-size: contain;
  background-color: #5a92a9;
  background-repeat: no-repeat;
}
.node-type-success-story #main-content .node-success-story .field-extra-photos {
  width: 100%;
}
.node-type-success-story #main-content .content {
  margin-bottom: 50px;
  padding: 0 10px;
  max-width: 550px;
}
@media (min-width: 640px) {
  .node-type-success-story #main-content .content {
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .node-type-success-story #main-content .content {
    max-width: 820px;
  }
}

.page-contact #main-content .title-header {
  background-image: url(../images/background_generic_corporate.jpg);
}
.page-contact #main-content .title-header .wrapper {
  max-width: 625px;
}
.page-contact form.contact-form {
  max-width: 625px;
  padding: 25px 20px;
  margin: 0 auto;
}
.page-contact form.contact-form > div {
  margin-bottom: 1em;
}
.page-contact form.contact-form label {
  font-size: 1.17em;
  margin: 0px 0px 5px 0px;
  display: block;
  color: #094069;
}
.page-contact form.contact-form label[for=edit-copy] {
  display: inline;
}
.page-contact form.contact-form input[type=submit] {
  margin-left: 0;
}

.node-documentation .field-documents {
  margin-bottom: 20px;
}
.node-documentation .field-documents h2 {
  margin: 0px;
}

.field-extra-photos {
  margin: 40px 10px 0;
  display: table;
}
@media (min-width: 640px) {
  .field-extra-photos {
    margin-left: -3px;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  .field-extra-photos {
    width: calc(100% - 400px);
  }
}
.field-extra-photos li {
  display: block;
  float: left;
  width: calc(50% - 1px);
  margin: 0 0 2px 2px;
}
.field-extra-photos li:nth-child(odd) {
  margin-left: 0;
}
@media (min-width: 640px) {
  .field-extra-photos li {
    width: calc(20% - 3px);
    margin: 0 0 3px 3px;
  }
  .field-extra-photos li:nth-child(odd) {
    margin-left: 3px;
  }
}
@media (min-width: 960px) {
  .field-extra-photos li {
    max-width: calc(100% / 6 - 3px);
    width: auto;
  }
}
.field-extra-photos li a,
.field-extra-photos li img {
  display: block;
  width: 100%;
}

.field-document table {
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.field-document table thead th {
  color: #096396;
  padding: 5px;
  border: none;
}
.field-document table tbody td {
  padding: 5px;
}

.top-overlay {
  background: rgba(32, 32, 32, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-animation-name: top-overlay-in;
          animation-name: top-overlay-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media (min-width: 640px) {
  .top-overlay {
    padding: 20px;
  }
}
.top-overlay * {
  color: white;
}
.top-overlay h3 {
  font-size: 150%;
  margin-bottom: 1em;
}
.top-overlay .button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/button_close.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
@media (min-width: 640px) {
  .top-overlay .button-close {
    top: 20px;
    right: 20px;
  }
}
.top-overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 30px auto 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media (min-width: 640px) {
  .top-overlay ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 960px) {
  .top-overlay ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.top-overlay ul li {
  box-sizing: border-box;
  width: 100px;
  text-align: center;
  padding: 0;
}
@media (min-width: 640px) {
  .top-overlay ul li {
    width: 20%;
  }
}
@media (min-width: 960px) {
  .top-overlay ul li {
    width: 140px;
  }
}
.top-overlay ul li.collection-header {
  width: 100%;
  text-align: left;
  margin-bottom: 0.3em;
}
@media (min-width: 640px) {
  .top-overlay ul li.collection-header {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}
@media (min-width: 960px) {
  .top-overlay ul li.collection-header {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
.top-overlay ul li.collection-item a {
  display: block;
  min-height: 40px;
  padding: 40px 5px 5px;
  margin-bottom: 15px;
  font-size: 12px;
  background: url(../images/icons/paper_sheet.svg) top center no-repeat;
  background-size: 25px 35px;
}
@media (min-width: 640px) {
  .top-overlay ul li.collection-item a {
    min-height: 50px;
    margin-bottom: 20px;
    background-size: 37px 52px;
    padding: 65px 10px 10px;
  }
}
@media (min-width: 960px) {
  .top-overlay ul li.collection-item a {
    background-size: 50px 70px;
    margin-bottom: 30px;
    padding-top: 85px;
    font-size: 16px;
  }
}

@-webkit-keyframes top-overlay-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes top-overlay-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#main-content article.strategic-partners .content {
  min-height: 0;
}

#block-views-strategic-partners-block-1 {
  max-width: 960px;
  margin: 0 auto;
}
#block-views-strategic-partners-block-1 h3 {
  text-align: center;
  clear: both;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
#block-views-strategic-partners-block-1 > div {
  overflow: visible;
  position: relative;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
#block-views-strategic-partners-block-1 > div .item {
  width: calc(100% - 20px);
  max-width: 300px;
  height: 260px;
  background: white;
  padding: 20px;
  margin: 10px auto;
}
@media (min-width: 640px) {
  #block-views-strategic-partners-block-1 > div .item {
    width: 300px;
    margin: 10px;
  }
}
#block-views-strategic-partners-block-1 > div .item a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 auto 20px;
}
#block-views-strategic-partners-block-1 > div .item a.logo img {
  display: block;
  max-width: auto;
  max-height: auto;
}
#block-views-strategic-partners-block-1 > div .item h4 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 0.25em;
}
#block-views-strategic-partners-block-1 > div .item .description {
  font-size: 0.85em;
  color: #666;
}

/*# sourceMappingURL=style.css.map */