body.node-type-page, body.node-type-documentation {
  #main-content .content {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10px;
    max-width: 550px;

    @include breakpoint($break-small) {
      padding: 0 20px;
    }
    @include breakpoint($break-medium) {
      max-width: 640px;
    }
  }
  article.node-page {
    margin: 0 auto;

    h2 {
      margin-bottom: 0.5em;

      &:not(:first-child) {
        margin-top: 1.75em;
      }
    }
  }
}

#main-content {

  .download-app-page {
    .title-header {
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-color: $siasar-green;
    }

    .links-to-apps {
      margin-top: 40px;
      margin-bottom: 100px;
      text-align: center;

      a {
        background-color: $siasar-blue;
        color: white;

        &.android {
          background-image: url('../images/social_media/android-alpha.png');
        }
      }
    }
  }

  .corporate-info-page {
    .title-header {
      background-image: url('../images/background_generic_corporate.jpg');
    }
  }
}
