.page-contact {
  #main-content {
    .title-header {
      background-image: url(../images/background_generic_corporate.jpg);

      .wrapper {
        max-width: $left-box;
      }
    }
  }

  form.contact-form {
    max-width: $left-box;
    padding: 25px 20px;
    margin: 0 auto;

    > div {
      margin-bottom: 1em;
    }

    label {
      font-size: 1.17em;
      margin: 0px 0px 5px 0px;
      display: block;
      color: $siasar-dark-blue;

      &[for=edit-copy] {
        display: inline;
      }
    }

    input[type=submit] {
      margin-left: 0;
    }
  }
}
