body.node-type-blog-post {
  #main-content {

    .title-header .wrapper,
    .content {
      max-width: 960px;
    }

    .title-header {

      &::before {
        background-color: black;
        opacity: 0.3;
      }

      h1 {
        font-size: 24px;
        line-height: 1.1;
        left: 0;
        bottom: 5px;

        @include breakpoint($break-small) {
          font-size: 48px;
          bottom: 10px;
          left: -3px;
        }
        @include breakpoint($break-medium) {
          font-size: 60px;
          left: -5px;
        }
      }
    }

    .content {
      .field-body {
        img {
          display: block;
          margin: 10px auto;
        }
      }
    }
  }
}
