header[role=banner] {

  width: 100%;
  padding: 10px;
  margin: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border: none;

  transition: padding $transition-fast;

  @include breakpoint($break-small) {
    padding: 20px;
  }

  .header-region div {
    width: auto;
    float: none;
  }

  .siteinfo {
    a {
      display: table;
    }
    img {
      display: block;
      width: 35px;
      height: 40px;

      @include breakpoint($break-small) {
        width: 43px;
        height: 50px;
      }
    }
  }

  .site-name-slogan {
    display: none;
  }

  // Scrolled down
  &.scrolled-down {
    padding: 5px 10px;

    @include breakpoint($break-small) {
      padding: 10px 20px;
    }

    .siteinfo {
      img {
        width: 26px;
        height: 30px;

        transition: all $transition-fast;

        @include breakpoint($break-small) {
          width: 33px;
          height: 40px;
        }
      }
    }

    #block-system-main-menu{
      top: 10px;

      @include breakpoint($break-small) {
        top: 17px;
        font-size: 90%;
      }
      & ul:not(.responsified) li.hover ul {
        top: 13px;
      }
    }

    .language-switch {
      top: 10px;

      @include breakpoint($break-small) {
        top: 19px;
        font-size: 75%;
      }
    }
    .responsive-menus.responsified span.toggler {
      top: 4px;

      @include breakpoint($break-small) {
        top: 11px;
      }
    }
  }
}
