nav#block-menu-menu-social-media {

  display: table;
  white-space: nowrap;
  margin: 2.5em auto 0.5em;

  @include breakpoint($break-medium) {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 0;
        margin: 0;
        text-indent: -9999px;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        text-decoration: none;

        @include breakpoint($break-small) {
          width: 32px;
          height: 32px;
        }
        @include breakpoint($break-medium) {
          width: 40px;
          height: 40px;
          padding-bottom: 7px;
          border-bottom: solid transparent 2px;

          &:hover {
            border-bottom-color: white;
          }
        }

        &#facebook {
          background-image: url(../images/social_media/facebook.png);
        }
        &#twitter {
          background-image: url(../images/social_media/twitter.png);
        }
        &#youtube {
          background-image: url(../images/social_media/youtube.png);
        }
        &#linkedin {
          background-image: url(../images/social_media/linkedin.png);
        }
        &#googleplus {
          background-image: url(../images/social_media/googleplus.png);
        }
        &#wordpress {
          background-image: url(../images/social_media/wordpress.png);
        }
      }
    }
  }


}
